@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body style="background-image: url(/images/backgorund_2.jpg-1.png); background-size: 100%">


    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-lg-4">
            <div align="center" class="row box" style="border-radius: 3%">

                <div align="center" class="center" style=" width:80% !important; margin-top:10%; ">
                    <h1 align="center">@ViewData["Title"]</h1>
                    <section>
                        <form id="account" method="post">
                            <hr class="hr" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Username"></label>
                                <input asp-for="Input.Username" class="form-control input" />
                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control input" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button_Dark">Login</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>

        </div>
        <div class="col-sm-4"></div>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
