@model CarServiceMS.Models.BindingModels.AdminServices.Users.UsersDetailsBindingModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 style="padding-bottom:20px" class="text-center">@Model.Username Profile Details</h1>


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="form-group w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Username" class="font-weight-bold"></label>
                </div>
                <input asp-for="Username" class="form-control" disabled style="text-align:center" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Email" class="font-weight-bold"></label>
                </div>
                <input asp-for="Email" class="form-control" type="text" placeholder="Model..." disabled style="text-align:center" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="PhoneNumber" class="font-weight-bold">Phone Number</label>
                </div>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Year..." disabled style="text-align:center" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="MemberSince" class="font-weight-bold">Member Since</label>
                </div>
                <input asp-for="MemberSince" class="form-control" type="text" disabled style="text-align:center" />
                <span asp-validation-for="MemberSince" class="text-danger"></span>
            </div>
            <div class="form-group w-45">
                <div class="d-flex justify-content-center">
                    <label asp-for="Role" class="font-weight-bold"></label>
                </div>
                <input asp-for="Role" class="form-control" type="text" disabled style="text-align:center" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group w-45">

                <div class="d-flex justify-content-between">


                    @if (Model.Role == "Admin")
                    {
                        <a asp-controller="UsersAdmin" asp-action="RegisterAdmin">
                            <button id="btn-cancel" class="btn btn-dark button-Register" onclick="cancelDescriptionEditing()">User</button>
                        </a>

                        <button id="btn-cancel" class="btn btn-danger button-Register" onclick="cancelDescriptionEditing()">Bann</button>
                    }
                    else if (Model.Role == "User")
                    {
                        <a asp-controller="UsersAdmin" asp-action="RegisterAdmin">
                            <button id="btn-cancel" class="btn btn-dark button-Register" onclick="cancelDescriptionEditing()">Admin</button>
                        </a>

                        <button id="btn-cancel" class="btn btn-danger button-Register" onclick="cancelDescriptionEditing()">Bann</button>
                    }
                    else if (Model.Role == "Banned")
                    {
                        <a asp-controller="UsersAdmin" asp-action="RegisterAdmin">
                            <button id="btn-cancel" class="btn btn-dark button-Register" onclick="cancelDescriptionEditing()">Admin</button>
                        </a>

                        <button id="btn-cancel" class="btn btn-danger button-Register" onclick="cancelDescriptionEditing()">User</button>
                    }


                </div>
            </div>


        </div>
        <div class="col">

            <div class="d-flex justify-content-center">
                <label asp-for="PersonalityDesctription" class="font-weight-bold">Personality Desctription</label>
            </div>

            <div class="container" style="overflow-x:auto;">
                <div style="width: 30em; word-wrap: break-word;">
                    <span id="span-description" style="display:inherit; padding-bottom:20px; padding-left: 20px;">@Model.PersonalityDesctription</span>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button id="btn-edit" class="btn btn-dark button-Register" onclick="editDescription()">Edit Description</button>
            </div>

            <form asp-controller="UsersAdmin" asp-action="EditPersonalityDesctription" asp-route-id="@Model.Id" method="post">
                <textarea id="textarea-description" asp-for="PersonalityDesctription" class="form-control" placeholder="Description" style="min-height:200px; max-height:300px; display:none">@Model.PersonalityDesctription</textarea>
                <div style="text-align:center">
                    <span id="validation-span" asp-validation-for="PersonalityDesctription" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-center" style="padding:10px">
                    <button id="btn-confirm" type="submit" class="btn btn-dark button-Register" style="display:none">Confirm</button>
                </div>
            </form>

            <div class="d-flex justify-content-center">
                <button id="btn-cancel" class="btn btn-dark button-Register" onclick="cancelDescriptionEditing()" style="display:none">Cancel</button>
            </div>

        </div>

    </div>
</div>
<input asp-for="Id" type="hidden" />



<script>

    let descriptionTextarea = document.getElementById("textarea-description");
    let descriptionSpan = document.getElementById("span-description");

    let validationSpan = document.getElementById("validation-span");

    let btnEdit = document.getElementById("btn-edit");
    let btnConfirm = document.getElementById("btn-confirm");
    let btnCancel = document.getElementById("btn-cancel");


    function editDescription() {
        descriptionSpan.style.display = "none";
        descriptionTextarea.style.display = "block";

        btnEdit.style.display = "none";
        btnConfirm.style.display = "block";
        btnCancel.style.display = "block";

        validationSpan.style.visibility = "visible";
    }

    function cancelDescriptionEditing() {
        descriptionSpan.style.display = "inherit";
        descriptionTextarea.style.display = "none";

        btnEdit.style.display = "block";
        btnConfirm.style.display = "none";
        btnCancel.style.display = "none";

        descriptionTextarea.value = descriptionSpan.innerText;
        validationSpan.style.visibility = "hidden";
    };


</script>
<script src="~/lib/jquery/dist/jquery.js"></script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />}
