@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    @if (this.User.IsInRole("Banned"))
    {
        <h1 align="center" class="text-danger">@ViewData["Title"]</h1>
        <h3 align="center" class="text-danger">You have been Banned.</h3>
        <h5 align="center" class="text-danger">For more Information contact with Email: demo_email...</h5>
    }
    else
    {
        <h1 align="center" class="text-danger">@ViewData["Title"]</h1>
        <h3 align="center" class="text-danger">You do not have access to this resource.</h3>
    }
</header>
