/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.hr {
    background-color: #000000;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.navbar-default {
    background: #000000;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.center {
    margin: auto;
    width: 30%;
}


/*Button Style*/

.button_Dark {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    width: 45%;
}

.button_Dark:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.button-Register {
    background-color: #000000;
    border-radius: 50px;
}

/*Input Fields*/
.input{
    border-color: #000000;
}




.form-control:focus {
    border-color: black;
    box-shadow: inset 1px 1px #000000, 0 0 8px #000000;
}


/*Selector*/
.selector-style {
    font-family: "Roboto", helvetica, arial, sans-serif;
}



.navbar-light .navbar-toggler-icon {
    color:grey;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark {
    background-color: black !important;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    padding-top: 0px;
    opacity: 0.95 !important;
    background: rgba(255,255,255,0.9);
}

.h1-show-cars {
    font-family: "Roboto", helvetica, arial, sans-serif;
    color: #D5DDE5;
    background-color: #1B1E24;
    margin: 0px;
    padding: 2%;
}

.border-top-grey {
    border-top: 4px solid #9ea7af;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

.container {
    -ms-overflow-style: none;
    // IE 10+ scrollbar-width: none;
    // Firefox
}

    .container::-webkit-scrollbar {
        display: none;
        // Safari and Chrome
    }